Source: wmbattery
Section: x11
Priority: extra
Build-Depends: debhelper (>= 9), libxext-dev, libxpm-dev, dh-autoreconf, libapm-dev, libupower-glib-dev
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/d-torrance/wmbattery
Vcs-Git: https://github.com/d-torrance/wmbattery.git
Homepage: http://kitenet.net/~joey/code/wmbattery/

Package: wmbattery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, upower
Suggests: wmaker
Description: display laptop battery info, dockable in WindowMaker
 wmbattery displays the status of your laptop's battery in a small icon.
 This includes if it is plugged in, if the battery is charging, how many
 minutes of battery life remain, and battery status (high - green, low -
 yellow, or critical - red).
 .
 There's nothing in the program that makes it require WindowMaker, except
 maybe the look. It can be docked in WindowMaker or AfterStep's dock.
 .
 wmbattery supports multi-battery machines, and can estimate how long
 it will take the battery to finish charging or discharging.
